<iframe src="<?php echo $this->Html->url( array( "controller" => "financeiros", "action" => "index", $coContrato ) ); ?>" frameborder="0" width="660" height="380">
  <p>Favor utilizar outro Navegador de Internet.</p>
</iframe>