<h1>B.I. Dashboard</h1>
<?php $visualInsight = $this->Modulo->getVisualInsight(); ?>
<iframe src="<?php echo $this->Modulo->getBiDashboard($visualInsight); ?>" style="width: 100%; height: 600px; border: none;"></iframe>