<?php
    if(!isset($rd2signer_documento0)) {
        $rd2signer_documento0 = '';
    }
?>

    <input type="hidden" name="usuario_token" value="" id="UsuarioToken">
    
    <input type="hidden" name="rd2signer_documentos" value="1">
    <input type="hidden" name="rd2signer_documento0" value="<?php echo $rd2signer_documento0; ?>" id="DocumentoAssinatura">
    <input type="hidden" name="rd2signer_docb64encoded0" value="false">

    <input type="hidden" name="rd2signer_status" value="" id="StatusCertificacao">
    <input type="hidden" name="rd2signer_statusmsg" value="" id="StatusMsgCertificacao">
    <input type="hidden" name="rd2signer_jsonicp" value="" id="JsonIcp">
    <input type="hidden" name="rd2signer_authenticationid0" value="">
    <input type="hidden" name="rd2signer_assinatura0" value="">
    
    <object classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" height="45" align="center">
        <?php if(isset($formIdx)) { ?>
        <param name="formIdx" value="<?php echo $formIdx; ?>">
        <?php } ?>
        <param name="mayscript" value="true">
        <param name="scriptable" value="true">
        <param name="archive" value="<?php echo $this->base; ?>/rd2signer-client-1.0.3.jar">
        <param name="code" value="com.rd2buzz.rd2signer.client.Main">
        <param name="codebase_lookup" value="false">
        <param name="type" value="application/x-java-applet;version=1.6">
        <param name="formIdx" value="0">
        <param name="includeCrl" value="true">
        <param name="urlServer" value="https://rd2signer.rd2buzz.com/rd2signer-ws/rest">
        <param name="authKey" value="nvOpkiX_f0aMpksT2iQ20a1">
        <param name="debug" value="false">
        <param name="userData" value="false">
        <comment>
            <embed height="45" 
                <?php if(isset($formIdx)) { ?>
                formIdx="<?php echo $formIdx; ?>" 
                <?php } ?>
                archive="<?php echo $this->base; ?>/rd2signer-client-1.0.3.jar"
                code="com.rd2buzz.rd2signer.client.Main" 
                scriptable="true" type="application/x-java-applet;version=1.6" 
                pluginspage="http://java.sun.com/products/plugin/index.html#download" 
                codebase_lookup="false" formIdx="0" includeCrl="true" debug="false" userData="false"
                urlServer="https://rd2signer.rd2buzz.com/rd2signer-ws/rest" 
                authKey="nvOpkiX_f0aMpksT2iQ20a1"> 
            </embed>
            <noembed> Applet não pode ser carregada. Necessário instalar Java Plugin 1.6 ou posterior! </noembed>
        </comment>
    </object>