<?php
$texto_atesto=  '';
$menu = '<div class="btn-group">' . 
                    '<button data-toggle="dropdown" class="btn btn-info btn-minier dropdown-toggle alert-tooltip" title="Menu de Opções"><i class="icon-caret-down"></i></button><ul class="dropdown-menu dropdown-info pull-left">' . '<li><a href="javascript:void(0);" onclick="abrirAnexo(\\\'' . $anexo['Anexo']['co_anexo'] . '\\\');"><i class="icon-folder-open"></i> &nbsp; Abrir Documento</a></li><li><a href="javascript:void(0);" onclick="excluirAnexo(' . $anexo['Anexo']['co_anexo'] . ',' . $anexo['Anexo']['co_licitacao'] . ');"><i class="red icon-trash"></i> &nbsp; Excluir</a></li></ul></div><a href="'. $this->Html->url(array('controller' => 'licitacoes', 'action' => 'download', $anexo['Anexo']['caminho'], $anexo['Anexo']['ds_anexo'])) . '" data-rel="popover" data-trigger="hover" data-placement="right" data-content="' . $anexo['Anexo']['ds_anexo'] . '" data-html="true">  &nbsp;&nbsp;' . $anexo['Anexo']['ds_anexo'] . '</a>';


echo "'b" . $anexo['Anexo']['co_anexo'] . "' : {name: '" . ' &nbsp;&nbsp; ' . $menu . "', type: 'item'} , ";
?>

  