<?php
echo 
"<label class='checkbox'>
    <input type='checkbox' name='chkTemplate$id' id='chkTemplate$id' value='off'/>
    $label
</label>
<div class='control-group' style='display:none' id='divTemplate$id'>
    <label class='control-label' for='textarea'>Observações</label>
    <div class='controls'>                     
        <textarea class='templateTextarea' id='obsTemplate$id' name='obsTemplate$id'></textarea>
    </div>
</div>
"
    
?>