<iframe src="<?php echo $this->Html->url( array( "controller" => "empenhos_anulacoes", "action" => "index", $coEmpenho ) ); ?>" frameborder="0"  style="width:100%; height: 350px; overflow: hidden">
  <p>Favor utilizar outro Navegador de Internet.</p>
</iframe>