<iframe src="<?php echo $this->Html->url( array( "controller" => "entregas", "action" => "index", $coContrato, true ) ); ?>" frameborder="0" style="width:100%; height: 550px; overflow: hidden">
  <p>Favor utilizar outro Navegador de Internet.</p>
</iframe>