<div class="actions">
<ul>
	<li><?php echo $this->Html->link( __('Fechar', true), '#', array('class' => 'nyroModalClose') );?></li>
</ul>
</div>
<?php echo $this->Html->scriptBlock("carregarContas()") ?>