<iframe src="<?php echo $this->Html->url( array( "controller" => "notas_fiscais", "action" => "index", $coContrato, $coEmpenho ) ); ?>" frameborder="0" style="width:100%; height: 800px; overflow: hidden">
  <p>Favor utilizar outro Navegador de Internet.</p>
</iframe>