<?php echo $this->Form->create('Situacao', array('onsubmit' => "return confirm('Ao editar essa Situação, você alterará todos os contratos e outros registros que possuem essa Situação atrelado. Deseja prosseguir com essa alteração? (Sua alteração ficará registrada em log de alterações de Situações)');"));?>

    <div class="row-fluid">

<b>Campos com * são obrigatórios.</b><br>
        <div class="row-fluid">
            <div class="widget-header widget-header-small"><h4><?php if($this->Modulo->isCamposContrato('co_situacao_processo')) : __('Situação do Processo / Contrato'); else : __('Situação do Contrato'); endif; ?></h4></div>
            <div class="widget-body">
              <div class="widget-main">
                           <?php
echo $this->Form->input('co_situacao');
if($this->Modulo->isCamposContrato('co_situacao_processo')) :
    echo $this->Form->input('tp_situacao', array('class' => 'input-xlarge', 'label' => '', 'options' => array('P' => 'Processo', 'C' => __('Contrato', true) )));
else :
    echo $this->Form->input('tp_situacao', array('class' => 'input-xlarge', 'label' => '', 'options' => array('C' => __('Contrato', true) )));
endif;
                           if($this->Modulo->getSeqSituacoes()) {
                               echo $this->Form->input('nu_sequencia', array('class' => 'input-xlarge', 'label' => 'Sequência'));
                           }
                            echo $this->Form->input('ds_situacao', array('class' => 'input-xlarge','label' => 'Descrição'));
?>
               </div>
            </div>

        </div>

        <div class="form-actions">
            <div class="btn-group">
                <button rel="tooltip" type="submit" class="btn btn-small btn-primary bt-pesquisar" title="Salvar"> Salvar</button> 
                <button rel="tooltip" type="reset" title="Limpar dados preenchidos" class="btn btn-small" id="Voltar"> Voltar</button>


            </div>
        </div>
    </div>

 