<iframe src="<?php echo $this->Html->url( array( "controller" => "situacoes", "action" => "add", true ) ); ?>" frameborder="0" style="width:100%; height: 1200px; overflow: hidden">
  <p>Favor utilizar outro Navegador de Internet.</p>
</iframe>