/* ===================================================================== */
	/* Observação: 													  		 */
	/* 	Esta folha de estilo destina-se aos estilos padrões para todos os 	 */
	/*	sistemas.														 	 */
	/* ===================================================================== */
	/* == Formatação dos - Elementos HTML ================================== */
	/* Define as configurações dos elementos Html		 					 */
	/* ===================================================================== */
	/* pageTitle : define as configurações dos elementos que compoem o titulo da página */
	
.titleToogle {
	text-decoration: none;
	color: #555;
	font-size: 17px;
}

#processo_a{
	color:#ffffff;
	background-color:#0000ff;
	width:13px;
	text-align: center;
	font-family:Arial;
	font-size:10px;
	text-align: center;
	font-weight: bold;
	border:0;
	padding:0;
}
#processo_i{
	color:#ffffff;
	background-color:#ff0000;
	width:13px;
	text-align: center;
	font-family:Arial;
	font-size:10px;
	text-align: center;
	font-weight: bold;
}
#processo_c{
	color:#ffffff;
	background-color:#00AA00;
	width:13px;
	text-align: center;
	font-family:Arial;
	font-size:10px;
	text-align: center;
	font-weight: bold;
}

#pageTitle {
	width: 100%;
	float: left;
	clear: both;
	height: 36px;
	padding: 0px;
	background-image: url(../images/f_titulo_pagina.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	margin: 0px;
	vertical-align: top;
}

#pageTitle h1 {
	clear: both;
	font-size: 17px;
	padding: 0px 18px;
	margin: -15px 0px 7px 0px;
}

#pageTitle h2 {
	font-size: 10pt;
	font-weight: 100;
	color: #565656;
	margin: 0px;
	padding: 0px 18px;
	float: left;
}

/* fim -> pageTitle */
	/* menuContexto : define as configurações do menus de contexto das páginas */
#menuContexto {
	position: absolute;
	top: 137px;
	right: 15px;
	text-transform: lowercase;
}

#menuContexto ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menuContexto ul li {
	display: inline;
	padding: 0px 5px;
	border: 2px solid #dbdbdb;
	margin: 0px 2px 0px 0px;
	background: #dbdbdb;
}

#menuContexto a {
	font-size: 11px;
	font-weight: 100;
	color: #666666;
	width: 100%;
	text-align: center;
	text-decoration: none;
}

#menuContexto li.ativo {
	border-top: 2px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	border-bottom: 2px solid #ffffff;
	background: #FFFFFF
}

#menuContexto li.ativo a {
	font-size: 11px;
	font-weight: bold;
}  /* Esp: cor*/
#menuContexto li.ativo a:hover {
	text-decoration: none
}

/* fim -> menuContexto */
#contato {
	margin-top: 30px;
	margin-left: 30px;
	padding-left: 60px;
	background: url("../images/arroba.gif") no-repeat left top;
}

#contato .dadosContato {
	margin-left: 3em
}

#listaManuais {
	margin-top: 30px;
	margin-left: 30px;
	padding-left: 60px;
	background: url("../images/manuais.gif") no-repeat left top;
}

#listaManuais UL {
	margin: 0 0 10px 30px;
}

/* Imagem que avisa que um processamento está ocorrendo */
.indicadorCarregando {
	background-image: url(../images/indicator.gif);
	background-position: top left;
	background-repeat: no-repeat;
	display: inline;
	padding-left: 13px;
}

	/* == Mensagens - Elementos ============================================ */
	/* Conjunto de classes que define as configurações das mensages          */
	/* ===================================================================== */
	/* mensagens: define as configurações das mensagem de orientação*/
	
#mensagens {
	width: 60%;
	clear: both;
	padding: 4px 20px;
	margin: 0px;
}

#mensagens p {
	font-size: 11px;
	overflow: visible;
	line-height: 14px;
	margin: 6px 0px;
}

/* .oritentacao: define as configurações das mensagem de orientação*/
.orientacao {
	min-height: 28px;
	color: #333333;
	padding: 0px 0px 0px 32px;
	background-image: url(../images/m_orientacao.gif);
	background-repeat: no-repeat;
	background-color: #FBFAE8;
	border-bottom: 1px solid #dbdbdb;
}

#conteudo .orientacao A {
	color: #333
}

/* .erro: define as configurações das mensagem de erro*/
.erro {
	min-height: 28px;
	color: #B43419;
	padding: 0px 0px 0px 32px;
	background-image: url(../images/m_erro.gif);
	background-repeat: no-repeat;
	background-color: #FDF5F3;
	border-bottom: 1px solid #F3B1A3
}

#conteudo .erro A {
	color: #B43419;
}

/* .sucesso: define as configurações das mensagem de sucesso*/
.sucesso {
	min-height: 28px;
	color: #294A72;
	padding: 0px 0px 0px 32px;
	background-image: url(../images/m_sucesso.gif);
	background-repeat: no-repeat;
	background-color: #F5F9FC;
	border-bottom: 1px solid #B3C8E5
}

#conteudo .sucesso A {
	color: #294A72
}

/* .alerta: define as configurações das mensagem de alerta*/
.alerta {
	min-height: 28px;
	color: #000000;
	padding: 0px 0px 0px 32px;
	background-image: url(../images/m_warnings.gif);
	background-repeat: no-repeat;
	background-color: #FAF9BC;
	border-bottom: 1px solid #DBC87B
}

#conteudo .alerta A {
	color: #000
}

/* Mensagens pop-up com fundo bloqueado */
#popupBoxFundo {
	background-color: #CCCCCC;
	display: none;
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 20 );
	height: 100%;
	left: 0;
	opacity: .20;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 250;
}

#popupBoxFundo iframe {
	display: none;
}

DIV#popupBox {
	background-color: #B9B7B8;
	display: none;
	margin-left: -200px;
	max-width: 500px;
	min-width: 400px;
	position: absolute;
	top: 45%;
	left: 50%;
	z-index: 7000;
}

#popupBox DIV {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	font-weight: bold;
	left: -4px;
	padding: 5px;
	position: relative;
	top: -4px;
}

#popupBox .indicadorCarregando {
	margin-right: 5px;
}

/* == Formulário - Elementos =========================================== */
/* Conjunto de classes que define as configurações dos componentes da Pagina Inicial												         */
/* ===================================================================== */
#pagInicial {
	background-image: url("../images/bgPagInicial.jpg");
	background-repeat: repeat-x;
	margin: 55px 20px auto 20px;
	min-height: 365px;
	padding: 20px;
}

#pagInicial UL {
	list-style: none;
}

#pagInicial UL UL {
	border-top: 2px solid #FFF;
	margin: 0;
	padding-left: 7px;
}

#pagInicial LI {
	float: left;
	font-size: 1.1em;
	font-weight: bold;
	margin: 10px 6px;
	padding: 6px;
}

#pagInicial LI LI {
	float: none;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#pagInicial H1 {
	font-weight: bold;
	font-size: 1.6em;
	padding: 0;
	text-align: center;
}

#pagInicial A {
	color: #333;
}

/* == Formulário - Elementos =========================================== */
/* Conjunto de classes que define as configurações dos componentes dos formulários													         */
/* ===================================================================== */

.formulario,.listagem {
	width: auto;
	margin-top: 10px;
	font-size: 11px;
	padding: 0px 20px;
	clear: both;
}

.formulario fieldset {
	margin: 0px 0px 10px 0px;
	border: none;
}

.formulario legend {
	text-indent: 0px;
	font-weight: bold;
	color: #666666;
	margin-bottom: 5px;
}

.formulario fieldset.visivel legend {
	/* .formulario legend.legendaDiscreta */
	padding-left: 10px;
	margin-bottom: 0px;
}

.row {
	display: table-row;
	margin: 5px 0px;
	vertical-align: middle;
	clear: both;
}

.label {
	float: left;
	margin: 4px 10px 0px 0px;
	text-align: left;
	display: block;
	height: 20px;
	background-color: #fff;
	width: 190px;
}

.field {
	width: auto;
	margin: 4px 10px 0px 0px;	
	text-align: left;
	display: inline-table;
	min-height: 20px;
}

.fieldResumoFinanceiro {
	align: right;
	margin: 4px 0px 0px 0px;
	width: auto;
	text-align: right;
	display: inline-table;
	min-height: 20px;
}

.botoesEsquerda {
	text-align: left;
	margin: 5px 0px 10px 0px;
	height: 30px;
}

.botoesDireita {
	text-align: right;
	margin: 5px 0px 10px 0px;
	height: 30px;
}

.botoesDireita a,.botoesEsquerda a {
	display: inline;
}

/* Configurações do campos do formulário*/
input,select,textarea {
	font-family: Arial, Verdana, Arial, sans-serif, sans;
	font-size: 12px;
	border: 1px solid #999999;
	padding-left: 3px;
}

/*input, select{text-transform:uppercase;}*/
input.botao {
	color: #444;
	padding: 0px 10px;
	border-style: solid;
	border-color: #999999;
	border-width: 0px 1px 1px 0px;
	margin-right: 2px;
	background-image: url(../img/f_botao.gif);
	background-repeat: repeat-x;
	height: 22px;
	text-transform: none;
	cursor: pointer;
	cursor: hand;
}

/* Headings
-------------------------------------------------------------- 
*/
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}

h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}

h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}

h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}

h6 {
	font-size: 1em;
	font-weight: bold;
}

.quadroListBox {
	float: left;
	margin: 4px 10px 0px 0px;
	text-align: left;
	display: block;
	height: 20px;
	background-color: #fff;
	width: 120px;
}