

.checkbox {
	height: 14px;
	width: 14px;
	border: none;
}


#principal {
	min-height: 400px;
}

#content {
	width: 900px;
	background-color: #FFFFFF;
	margin-top: -1px;
	padding: 0px;
	font-family: trebuchet ms, verdana, sans-serif;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 0px;
	text-align: justify;
	border-left: 2px solid #007cc2;
	border-right: 2px solid #007cc2;
	overflow: hidden;
}

#footer {
	clear: both;
	width: 900px;
	height: 20px;
	/*background-image:url(../img/rodape.gif);*/
	background-position: bottom;
	background-repeat: no-repeat;
	border-left: 2px solid #007cc2;
	border-right: 2px solid #007cc2;
	border-bottom: 1px solid #007cc2;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}

form {
	clear: none;
	margin-right: 0px;
	padding: 0px;
	width: 100%;
}

iframe {
	height: 460px;
	width: 830px;
}

fieldset {
	border: 1px solid #273D64;
	margin-bottom: 10px;
	padding: 10px;
}

fieldset.esquerda {
	clear: both;
	float: left;
	width: 405px;
	margin-right: 10px;
}

fieldset.esquerdau {
	clear: both;
	float: left;
	width: 390px;
	margin-right: 10px;
}

fieldset.direita {
	width: 400px;
}

fieldset.direitau {
	width: 390px;
}

fieldset.total {
	width: 700px;
}

fieldset.totalu {
	width: 835px;
}

fieldset legend {
	background-color: #273D64;
	color: white;
	font-weight: bold;
}

fieldset fieldset {
	border: 1px solid #273D64;
	margin-bottom: 10px;
	padding: 10px;
}

fieldset fieldset div {
	clear: left;
	margin: 0px;
}

fieldset fieldset select {
	max-width: 340px;
}

fieldset.ativo {
	display: block;
}

fieldset.inativo {
	display: none;
}

#aba li {
	display: inline;
	margin: 0 1px;
}

#aba li a {
	padding: 6px;
	text-decoration: none;
	font-weight: bold;
}

#aba li.ativo a {
	background: #0099CC;
	border: 2px solid #ccc;
	border-bottom: none;
}

#aba li.disabled a {
	color: #999;
	background: #ddd;
	cursor: default;
}

#aba li.ativo a:hover {
	cursor: default;
	background: #006699;
	color: #FFFFFF;
}

#aba li.inativo a {
	background: #7292B1;
}

#aba li.inativo a:hover {
	background: #006699;
	color: #FFFFFF;
        cursor: pointer;
}

#aba ul {
	padding: 6px 0 0 0;
}

div.form,div.index,div.view {
	border-left: none;
	float: none;
	padding: 10px;
	width: 98%;
}

div.actions {
	text-align: center;
	width: 90%;
	float: none;
}

div.actions h3 {
	display: none;
}

div.actions ul {
	float: left;
	widows: auto;
}

div.actions li {
	float: left;
	widows: auto;
	margin-right: 10px;
}

form div.submit {
	text-align: center;
}

label {
	float: left;
	width: 105px;
}

input,select,textarea {
	width: auto;
	font: 11px verdana, tahoma, arial, sans-serif;
	padding: 2px;
}

table td.actions a,table td.actions a:hover {
	-moz-border-radius: 0px;
	background: none;
	border: 0;
	color: none;
	font-weight: normal;
	min-width: 0;
	padding: 0;
	text-decoration: none;
	text-shadow: 0;
	margin: 0;
	padding: 0;
}

table td.actions {
	width: 60px;
}
