/* --------------------------------------------------------------

   typography.css
   * Sets up some sensible default typography.

   Based on work by:
   * Nathan Borror     [playgroundblues.com]
   * Jeff Croft        [jeffcroft.com]
   * Christian Metts   [mintchaos.com]
   * Wilson Miner      [wilsonminer.com]
   * Richard Rutter    [clagnut.com]

   Read more about using a baseline here:
   * alistapart.com/articles/settingtypeontheweb

-------------------------------------------------------------- */
	/* This is where you set your desired font size. The line-heights
   and vertical margins are automatically calculated from this.
   The percentage is of 16px (0.75 * 16px = 12px). */
body {
	font-size: 75%;
}

/* Default fonts and colors.
   If you prefer serif fonts, remove the font-family
   on the headings, and apply this one to the body:
   font: 1em Georgia, "lucida bright", "times new roman", serif; */
body {
	color: #222;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: #111;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

/* Headings
-------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}

h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}

h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}

h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}

h6 {
	font-size: 1em;
	font-weight: bold;
}

/* Text elements
-------------------------------------------------------------- */
p {
	margin: 0 0 1.5em;
}

p.last {
	margin-bottom: 0;
}

p img {
	float: left;
	margin: 1.5em 1.5em 1.5em 0;
	padding: 0;
}

p img.top {
	margin-top: 0;
}  /* Use this if the image is at the top of the <p>. */
ul,ol {
	margin: 0 1.5em 1.5em 1.5em;
}

ul {
	list-style-type: circle;
}

ol {
	list-style-type: decimal;
}

dl {
	margin: 0 0 1.5em 0;
}

dl dt {
	font-weight: bold;
}

dd {
	margin-left: 1.5em;
}

abbr,acronym {
	border-bottom: 1px dotted #666;
}

address {
	margin-top: 1.5em;
	font-style: italic;
}

del {
	color: #666;
}

a:focus,a:hover {
	color: #000;
}

a {
	color: #009;
	text-decoration: underline;
}

blockquote {
	margin: 1.5em;
	color: #666;
	font-style: italic;
}

strong {
	font-weight: bold;
}

em,dfn {
	font-style: italic;
	background: #ffc;
}

dfn {
	font-weight: bold;
}

pre,code {
	margin: 1.5em 0;
	white-space: pre;
}

pre,code,tt {
	font: 1em 'andale mono', 'monotype.com', 'lucida console', monospace;
	line-height: 1.5;
}

tt {
	display: block;
	margin: 1.5em 0;
	line-height: 1.5;
}

/* Tables
-------------------------------------------------------------- */
table {
	margin-bottom: 1.4em;
}

th {
	border-bottom: 2px solid #ccc;
	font-weight: bold;
}

td {
	border-bottom: 1px solid #ddd;
}

tfoot {
	font-style: italic;
}

caption {
	background: #ffc;
}

/* Use this if you use span-x classes on th/td. */
table .last {
	padding-right: 0;
}

/* Aligns an element perfect in the middle of a cell */
table .middle {
	text-align: center;
	vertical-align: middle;
}

table .right {
	text-align: right;
	vertical-align: middle;
}


/* Some default classes
-------------------------------------------------------------- */
.small {
	font-size: .8em;
	margin-bottom: 1.875em;
	line-height: 1.875em;
}

.large {
	font-size: 1.2em;
	line-height: 2.5em;
	margin-bottom: 1.25em;
}

.quiet {
	color: #666;
}

.hide {
	display: none;
}

.highlight {
	background: #ff0;
}

.added {
	color: #060;
}

.removed {
	color: #900;
}

.top {
	margin-top: 0;
	padding-top: 0;
}

.bottom {
	margin-bottom: 0;
	padding-bottom: 0;
}