ul.submenu li {
	float: left;
	background: transparent 0 -39px no-repeat;
	margin: 0;
	list-style: none outside none;
}

/* the id of the menu item is created automatically from the $title variable in the helper */
	/* the home.gif image has the 'out state' and 'over state' of the rollover effect in one image: the over state is positioned above the out, so in this example, the canvas size would be 60px wide by 78px (double the height of the menu) */
ul.submenu li#home {
	background-image: url(/img/menu/home.gif);
	width: 60px;
}

/* this CSS handles the rollover effect */
ul.submenu li:hover,ul.submenu li.active {
	background-position: 0 0;
}

/* hide the text, leaving the A tag */
ul.submenu li a span {
	display: none;
}

ul.submenu li a {
	display: block;
	height: 100%;
	width: 100%;
}

#menuSuperior {
	width: 770px;
	height: 20px;
	position: absolute;
	/*background-color: #000000;*/ /*border-left: 2px solid #007cc2;*/
	/*border-right: 2px solid #007cc2;*/
	margin-top: -20px;
	/*margin:0 auto;*/
	padding-top: 3px;
	padding-right: 10px;
	text-align: left;
}

#menumav a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}

#menumav a:link {
	color: #FFFFFF;
	text-decoration: none;
	margin: 0px;
	font-weight: bold;
}

#menumav a:visited {
	color: #FFFFFF;
	text-decoration: none;
	margin: 0px;
	font-weight: bold;
}

#menumav a:hover {
	color: #FFFF00;
	margin: 0px;
	font-weight: bold;
}

#menusecao {
	_width: 110px;
	border-left: 5px solid #e5f2f9;
	border-right: 5px solid #e5f2f9;
	background-color: #cce5f3;
	color: #333;
	margin: 0px;
}

#menusecao a:link {
	_width: 110px;
	padding: 2px 2px 2px 0.5em;
	border-left: 5px solid #e5f2f9;
	border-right: 5px solid #e5f2f9;
	color: #000;
	text-decoration: none;
	margin: 0px;
}

#menusecao a:hover {
	_width: 110px;
	border-left: 5px solid #cce5f3;
	border-right: 5px solid #cce5f3;
	background-color: #e5f2f9;
	color: #333;
	margin: 0px;
}

#menusecao a:visited {
	_width: 110px;
	padding: 2px 2px 2px 0.5em;
	border-left: 5px solid #e5f2f9;
	border-right: 5px solid #e5f2f9;
	color: #000;
	text-decoration: none;
	margin: 0px;
}

#menunavprincipal {
	float: left;
	width: 160px;
	padding: 0px 10px 0px 0px;
}