
.bt-table {
    margin-bottom: 4px;
}

/* CONFIGURAÇÃO DE MODAIS */
/*
OBS: as classes para utilizar as modais são:

.modal
.modal-medium
.modal-large
.modal-full

*/
/*.modal {
  left:50%;
  top:4%;
  margin:0;
}*/
.modal.fade.in {
    top: 4%;
}

@media (max-width: 767px) {
    .modal {
        margin-left: 4% !important;
        left: 0px !important;
    }
}

@media (max-width: 480px) {
    .modal {
        margin-left: 4% !important;
        left: 0px !important;
    }
}

/* MENU HORIZONTAL */
/* GLOBAL STYLES
    -------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    /* padding-bottom: 40px; */
    color: #5a5a5a;
    font-size: 12px;
}

label, input, button, select, textarea {
    font-size: 12px;
}

h2 {
    /*border-bottom: 1px solid #d2d2d2;*/
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #2271B0;
    font-size: 22px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 0;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

/* Remove border and change up box shadow for more contrast */

/* Downsize the brand/project name a bit */
.navbar .brand {
    padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
    padding: 10px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
    margin-top: 6px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.acesso-rapido {
    background: #FAFAFA;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #d2d2d2;
}

.acesso-rapido h2 {
    font-weight: normal;
}

.acesso-rapido .span4 p {
    margin-left: 10px;
    margin-right: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 10px 0; /* Space out the Bootstrap <hr> more */
}

.featurette {
    padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

    .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
    }

    .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
        background: linear-gradient(to bottom, #2271b0 0%, #195987 100%);
    }

    .featurette {
        height: auto;
        padding: 0;
    }

    .featurette-image.pull-left,
    .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
    }

    /*PARA IPAD*/
    .navbar {
        margin-top: 15px;
    }

    .acesso-rapido {
        margin-top: 10px;
    }

    .boxLogo-n2o {
        display: none;
    }

    .logo-empresa {
        float: left;
        margin-left: 258px;
        margin-top: 50px;

    }
}

@media (max-width: 767px) {

    .navbar-inner {
        margin: -20px;
    }

    .marketing .span4 + .span4 {
        margin-top: 40px;
    }

    .featurette-heading {
        font-size: 30px;
    }

    .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
    }

}

@media (max-width: 320px) {

    .row-fluid [class*="span"] {
        min-height: 0px !important;
    }

    .centraluser {
        width: auto !important;

    }

    .centraluser-bt {
        margin: -205px 0 0 0;
    }

    .logo-empresa {
        margin: 62px 0 0 15px;
    }

    /*      .breadcrumb{
            margin-top: 10px;
          }*/
    .navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus {
        background-color: #fff;
    }

}

/* CONFIGURAÇÃO PARTICULARES DA EMPRESA */
/*CABECALHO*/
.cabecalho:height:

80
px

;

/* MENU HORIZONTAL */
.navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
}

.navbar-inverse .navbar-inner {
    border-color: #2271b0;
}

.navbar-inverse .navbar-inner {
    background: #2271b0; /* Old browsers */
    background: -moz-linear-gradient(top, #2271b0 0%, #195987 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2271b0), color-stop(100%, #195987)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2271b0 0%, #195987 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2271b0 0%, #195987 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2271b0 0%, #195987 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2271b0 0%, #195987 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2271b0', endColorstr='#195987', GradientType=0); /* IE6-9 */
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #fff;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background: #2271b0;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background: #2271b0;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background: #2271b0;
}

/* AGRUPAMENTO DE BOTÕES */
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active {
    z-index: 0;
}

/*BREADCRUMB*/
/*.breadcrumb{background-color:#ccc}
.breadcrumb a{color:#333; font-size:11px;}
.breadcrumb > li > .divider{color:#999;}*/

/* BOTAO PRIMARIO*/

.btn-primary {
    background: #2271b0; /* Old browsers */
    background: -moz-linear-gradient(top, #2271b0 0%, #195987 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2271b0), color-stop(100%, #195987)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2271b0 0%, #195987 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2271b0 0%, #195987 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2271b0 0%, #195987 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2271b0 0%, #195987 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2271b0', endColorstr='#195987', GradientType=0); /* IE6-9 */
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background: #2271b0;
}

/* AÇÕES TOPO CENTRO DA DO SISTEMA */
.centraluser {
    background: url(../img/bkg_central.png) no-repeat center top;
    width: 300px;
    margin: 0px auto;
    text-align: center;
    /*padding: 20px 10px 10px 10px;*/
}

.centraluser-bt {
    padding-bottom: 17px;
    padding-top: 10px;
}

/* BOTÕES DE AÇÕES DENTRO DA GRID (TABELA) */
.bt1 {
    width: 5%
}

.bt2 {
    width: 10%
}

.bt3 {
    width: 15%
}

/* ALINHAMENTO */
.ac {
    text-align: center !important
}

.ae {
    text-align: left
}

.ad {
    text-align: right
}

/* CONFIGURAÇÃO DE TABELAS */
.table th {
    text-align: center;
}

/* ESPAÇAMENTO DOS CAMPOS */
.form-horizontal .control-group {
    margin-bottom: 5px;
}

/* CONFIGURANDO ACCORDION */
.accordion-inner {
    background: #FFF;
}

.accordion-heading a {
    color: #5A5A5A;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

/* CONFIGURANDO ABAS */

.box-tabs-white {
    background: #fff;
    border: 1px solid #E2E2E2;
    padding: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    box-shadow: 0 -4px 4px #CFCFCF;
}

/* CONTAINER DETALHES*/
.box-detalhes {
    background: #f8f8f8;
    margin-bottom: 15px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 0 4px #ccc;
    border: 1px solid #e2e2e2;
}

.box-detalhes h3 {
    font-size: 14px;
    padding: 0px 10px;
    margin: 0;
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top, #e2e2e2 0%, #ffffff 47%, #e2e2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e2e2), color-stop(47%, #ffffff), color-stop(100%, #e2e2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e2e2e2 0%, #ffffff 47%, #e2e2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e2e2e2 0%, #ffffff 47%, #e2e2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e2e2e2 0%, #ffffff 47%, #e2e2e2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e2e2e2 0%, #ffffff 47%, #e2e2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#e2e2e2', GradientType=0); /* IE6-9 */

}

.body-box {
    padding: 5px;
}

/* TABELAS */
/*thead tr th{
  background: #a7cdeb;
  color: #333;
}*/
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: #e6e5e5;
}

/* ACOES NO TOPO DO FORMULÁRIO */
.acoes-formulario-top {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.acoes-formulario-top p {
    padding: 5px;
    margin: 0;
}

.error-message {
    color: red;
    font-weight: bold;
}

.required label:after {
    font-weight: bold;
    color: red;
    content: ' *';
    display: inline;
}

/* Rodape */
.sistema {
    text-align: center;
    font-size: 11px;
}

.table td {
    text-align: center !important;
}

#editar-atividade.modal.myLarge {
    /*max-width: 900px;*/
    width: 980px;
    left: 40%;
}

.gifAtv {
    background: transparent url('/img/ajaxLoader.gif') no-repeat center center/64px 64px;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.overlay {
    margin: 0 auto;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

#gifLoadAtv {
    background: transparent url('/img/ajaxLoader.gif') no-repeat center center/32px 32px;
    width: 32px;
    height: 32px;
    display: 'block';
    /*margin: 10px auto;*/
}

.gifLoadAtv-modal {
    background: transparent url('/img/loader2.gif') no-repeat center center/16px 16px;
    width: 16px;
    height: 16px;
    /*margin-right: 5px;*/
}

.gifLoadAtv-small {
    background: transparent url('/img/loader2.gif') no-repeat center center/20px 14px;
    width: 20px;
    height: 14px;
    display: inline-block;
    /*margin-top: 3px;*/
}

.icon-atividades-gerais {
    width: 24px;
    height: 24px;
    background: transparent url('/img/atividade_inspecao.png') no-repeat center center/32px 32px
}

input.pesquisarAtividades {
    -webkit-transition: all 0.30s ease-in-out !important;
    -moz-transition: all 0.30s ease-in-out !important;
    -ms-transition: all 0.30s ease-in-out !important;
    -o-transition: all 0.30s ease-in-out !important;
    outline: none !important;
    padding: 3px 0px 3px 3px !important;
    margin: 5px 1px 3px 0px !important;
    border: 1px solid #DDDDDD !important;
    height: 30px;
    width: 580px;
    border-radius: 4px;
}

input.pesquisarAtividades:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
    padding: 3px 0px 3px 3px !important;
    margin: 5px 1px 3px 0px !important;
    border: 1px solid rgba(81, 203, 238, 1) !important;
}

/* layout para impressão*/
@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    #printSection, #printSection * {
        visibility: visible;
    }

    #printSection {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.clearfix {
    *zoom: 1;

&
:before,

&
:after {
    display: table;
    content: "";
}

&
:after {
    clear: both;
}

}

div.text-justify {
    text-align: justify !important;
}

td.justify {
    text-align: justify;
    /*padding-right:18px;*/
    width: auto;
    max-width: 800px;
    vertical-align: top;
    display: table-cell
}

.boxLogo-n2o {
    width: 75% !important;
}

.boxLogo-n2o .logo-n2o {
    padding-top: 15px;
}

.icone-sei {
    width: 25px;
    height: 16px;
    margin-left: 10px;
    background: url(/img/sei.ico) no-repeat center;
    background-size: cover;
    position: absolute;
}

.icone-sei-disable {
    width: 25px;
    height: 16px;
    margin-left: 10px;
    background: url(/img/sei-disable.ico) no-repeat center;
    background-size: cover;
    position: absolute;
    cursor: not-allowed;
}

input.ui-autocomplete-input:focus {
    background-image: url(../img/autocomplete.gif);
    background-position: 4px 50%;
    background-repeat: no-repeat;
    padding-left: 30px;
}

input.ui-autocomplete-input:focus.ui-autocomplete-loading {
    background-image: url(../img/autocomplete-loading.gif);
}