body {
  padding-bottom: 40px;
}
.btn-primary{
  background: #063154; /* Old browsers */
  background: -moz-linear-gradient(top, #063154 0%, #093b7c 50%, #063154 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#063154), color-stop(50%,#093b7c), color-stop(100%,#063154)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #063154 0%,#093b7c 50%,#063154 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #063154 0%,#093b7c 50%,#063154 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #063154 0%,#093b7c 50%,#063154 100%); /* IE10+ */
  background: linear-gradient(to bottom, #063154 0%,#093b7c 50%,#063154 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#063154', endColorstr='#063154',GradientType=0 ); /* IE6-9 */
}
.navbar-inverse .navbar-inner{
  background: #063154; /* Old browsers */
  background: -moz-linear-gradient(top, #063154 0%, #093b7c 50%, #063154 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#063154), color-stop(50%,#093b7c), color-stop(100%,#063154)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #063154 0%,#093b7c 50%,#063154 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #063154 0%,#093b7c 50%,#063154 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #063154 0%,#093b7c 50%,#063154 100%); /* IE10+ */
  background: linear-gradient(to bottom, #063154 0%,#093b7c 50%,#063154 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#063154', endColorstr='#063154',GradientType=0 ); /* IE6-9 */
}
.navbar .nav{
  /*margin: 22px 10px 0 0;*/

}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
  background: #063154;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle{
  background: #063154; 
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{
  background: #063154; 
}
.conteudo{
  padding:30px 0 0 0;
}

