        <?php
            $i = 0;
        foreach ($atividades as $atividade):
                $i++;
                $link_contrato  = $this->Html->url(array ('controller' => 'contratos', 'action' => 'detalha', $atividade['Atividade']['co_contrato'])) . '/atividade#collapseExec';
                $html_atividade = '
                                    <div class="clearfix">
                                            <span class="pull-left">' . $atividade['Atividade']['ds_atividade'] . '</span>
                                            <span class="pull-right">' . $atividade['Atividade']['pc_executado'] . '%</span>
                                    </div>

                                    <div class="progress progress-mini progress-' . $this->Print->alertAtividadeDashboard($atividade) . ' progress-striped active">
                                            <div style="width:' . $atividade['Atividade']['pc_executado'] . '%" class="bar"></div>
                                    </div>';
//                if ( $this->Print->checkPermissao($usuario['UsuarioPerfil']['co_perfil'], 'contratos/detalha') ||
//                     $this->Print->checkPermissao($usuario['UsuarioPerfil']['co_perfil'], 'pro_man_c') ||
//                     $this->Print->checkPermissao($usuario['UsuarioPerfil']['co_perfil'], 'ctr_man_c')) {
//                    echo $this->Html->link($html_atividade, $link_contrato, array('escape' => false));
//                } else {
                    echo $this->Html->link($html_atividade, $link_contrato, array('escape' => false));
//                    echo $html_atividade;
//                }
            endforeach;
            if($i == 0){
                echo 'Não existem registros a serem exibidos.';
            }else {echo '<BR>';}
            ?>