<?php echo $this->Form->create('Contratacao', array('onsubmit' => "return confirm('Ao editar esse Modalidade de Contratação, você alterará todos os contratos e outros registros que possuem esse Modalidade de Contratação atrelado. Deseja prosseguir com essa alteração? (Sua alteração ficará registrada em log de alterações de Modalidade de Contratação)');")); ?>
<div class="row-fluid">
    <b>Campos com * são obrigatórios.</b><br>
    <div class="row-fluid">
        <div class="widget-header widget-header-small"><h4><?php __('Modalidade de Contratação'); ?></h4></div>
            <div class="widget-body">
            <div class="widget-main">
                <?php
                    echo $this->Form->input('co_contratacao');
                    echo $this->Form->input('ds_contratacao', array('class' => 'input-xlarge', 'label' => '*Descrição'));
                ?>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="btn-group">
            <button rel="tooltip" type="submit" class="btn btn-small btn-primary bt-pesquisar" title="Salvar"> Salvar</button>
            <button rel="tooltip" type="button" title="Limpar dados preenchidos" class="btn btn-small" id="Limpar"> Limpar</button>
			<button rel="tooltip" type="button" title="Voltar" class="btn btn-small" id="Voltar"> Voltar</button>
        </div>
    </div>
</div>
<?php echo $this->Form->end(); ?>
