<iframe src="<?php echo $this->Html->url( array( "controller" => "anexos_pastas", "action" => "index", $idModulo, $modulo ) ); ?>"
    frameborder="0" style="width:100%; height: 350px; overflow: hidden">
  <p>Favor utilizar outro Navegador de Internet.</p>
</iframe>
