<iframe src="<?php echo $this->Html->url( array( "controller" => "modalidades", "action" => "provas", $coModalidade ) ); ?>" frameborder="0" style="width:100%; height: 800px; overflow: hidden">
  <p>Favor utilizar outro Navegador de Internet.</p>
</iframe>