<iframe src="<?php echo $this->Html->url( array( "controller" => "historicos", "action" => "index", $coContrato, $modulo ) ); ?>" frameborder="0" frameborder="0"  style="width:100%; height: 500px; overflow: hidden">
  <p>Favor utilizar outro Navegador de Internet.</p>
</iframe>