<iframe src="<?php echo $this->Html->url( array( "controller" => "extrator", "action" => "index" ) ); ?>" frameborder="0" style="width:100%; height: 600px; overflow: hidden">
  <p>Favor utilizar outro Navegador de Internet.</p>
</iframe>