<iframe src="<?php echo $this->Html->url( '/grupo_auxiliares/add/1' ); ?>" frameborder="0"  style="width:100%; height: 800px; overflow: hidden; overflow-x: hidden; overflow-y: hidden">
    <p>Favor utilizar outro Navegador de Internet.</p>
</iframe>