<div class="modal-body">
          <div class="control-group">
          <label for="input01" class="control-label">
                  
      </div>
 
</div>
<div class="modal-footer">

<a href="<?php echo $this->Html->url(array('controller' => 'usuarios', 'action' => 'autenticar')); ?>" data-toggle="modal" class="btn btn-small btn-primary" title="Voltar"><i class="icon-plus icon-white"></i> Voltar</a>
  </form>
</div>
</div>
