<iframe src="<?php echo $this->Html->url( array( "controller" => "andamentos", "action" => "index", $coContrato ) ); ?>" frameborder="0" style="width:100%; height: 1000px; overflow: hidden">
  <p>Favor utilizar outro Navegador de Internet.</p>
</iframe>