<iframe id="iframe_imp_contrato" name="iframe_imp_contrato" src="<?php echo $this->Html->url( array( "controller" => "contratos", "action" => "imprimir", $coContrato, $modulos, $name ) ); ?>" frameborder="0" style="width:100%; height: 530px; overflow: hidden">
  <p>Favor utilizar outro Navegador de Internet.</p>
</iframe>