<iframe id="iframe_imp_contrato" src="<?php echo $url; ?>" frameborder="0" style="width:100%; height: <?php echo $height; ?>px; overflow: hidden">
  <p>Favor utilizar outro Navegador de Internet.</p>
</iframe>