<iframe src="<?php echo $this->Html->url( array( "controller" => "anexos", "action" => "index", $coContrato, $modulo, $idModulo ) ); ?>" frameborder="0" style="width:100%; height: 500px; overflow: hidden">
  <p>Favor utilizar outro Navegador de Internet.</p>
</iframe>